{
  "log": { "level": "warn", "timestamp": true },

  "inbounds": [
    {
      "type": "socks",
      "tag": "socks-test",
      "listen": "127.0.0.1",
      "listen_port": 10808
    },
    {
      "type": "tun",
      "tag": "tun-in",
      "interface_name": "tun-bashmak",
      "address": ["172.19.0.1/30"],
      "mtu": 1400,
      "auto_route": false,
      "strict_route": false,
      "stack": "system"
    }
  ],

  "dns": {
    "servers": [
      { "tag": "remote", "address": "1.1.1.1", "detour": "vps" },
      { "tag": "local", "address": "local", "detour": "direct" }
    ],
    "rules": [{ "outbound": "any", "server": "local" }],
    "final": "remote",
    "strategy": "ipv4_only"
  },

  "outbounds": [
    { "type": "direct", "tag": "direct" },
    {
      "type": "vless",
      "tag": "vps",
      "server": "ADDRESS_FROM_LINK",
      "server_port": 21023,
      "uuid": "UUID_FROM_LINK",
      "flow": "xtls-rprx-vision",
      "packet_encoding": "xudp",
      "tls": {
        "enabled": true,
        "server_name": "max.ru",
        "utls": { "enabled": true, "fingerprint": "qq" },
        "reality": {
          "enabled": true,
          "public_key": "PBK_FROM_LINK",
          "short_id": "202e"
        }
      }
    }
  ],

  "route": {
    "auto_detect_interface": true,
    "final": "vps"
  }
}
